

/*Move facets to the left*/
prm-search > md-content.md-primoExplore-theme.main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}

.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

/*Hide Login Alert */
div.alert-bar {
	display: none
	}

/* Hide button login 
.button-with-icon {display: none;}
*/

/* REDUCE LOGO PADDING */
prm-logo .product-logo {
    padding: .25em;
}


/* Call the clickable logo */
prm-logo div.product-logo {
    display:none;
}
prm-logo div.product-logo-local {
display: flex;
}
prm-logo .logo-image, prm-logo img {
    max-height: 35px;
}




/*---------------------Text Styles--------------------*/

/*links
a, .md-button.arrow-link-button .button-content {
  color: #ce3229;
}

*/

/*hover
a:hover, .recommendations-title:hover > span > span, .recommendations-title.hover > span > span, .md-button.arrow-link-button .button-content:hover, a:focus, .md-button.arrow-link-button .button-content:focus, a.hover, .md-button.arrow-link-button .hover.button-content {
    background-color: rgba(206, 50, 41, 0.1);
    color: #ce3229;
    box-shadow: inset 0 -1px 0 0 rgba(34, 96, 145, 0.5);
}

*/

/*---------Advanced Search Link ------------
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
    color: #ce3229;
}

*/

/*advanced text labels 
.prm-text, a.a-tag-as-wrapper, .md-button.arrow-link-button .a-tag-as-wrapper.button-content, a.a-tag-as-wrapper:hover, .recommendations-title:hover > span > span.a-tag-as-wrapper, .recommendations-title.hover > span > span.a-tag-as-wrapper, a.a-tag-as-wrapper:focus, .hack-a-tag-unclickable a, .hack-a-tag-unclickable .md-button.arrow-link-button .button-content, .md-button.arrow-link-button .hack-a-tag-unclickable .button-content, prm-search-bar, md-input-container.static-select.md-input-has-value label,
md-input-container.static-select.md-input-has-value label:not(.md-no-float), .presentable-disabled-inputs md-input-container label, md-toolbar.transparent-toolbar,
md-toolbar.md-primoExplore-theme.transparent-toolbar,
md-toolbar.transparent-toolbar:not(.md-menu-toolbar), md-toolbar.default-toolbar,
md-toolbar.md-primoExplore-theme.default-toolbar,
md-toolbar.default-toolbar:not(.md-menu-toolbar) {
  color: #ce3229; }
  
  */

/*--------Top Banner ---------------*/

/*Top Banner Background Color */

.prm-primary-bg.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1
	{background-color: #002F6D;}
	
/*-----User Area -------*/

  /*UserName Guest 

prm-user-area .user-name {
    text-transform: none;
    font-weight: 600;
    color: #ce3229;
    text-align: left;
    max-width: 80px;
}

*/

/*background for Guest Button And Icon 
.prm-primary-bg.prm-hue2, prm-main-menu[menu-type=full] md-backdrop, prm-search-bookmark-filter .md-button, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-user-area, prm-user-area md-fab-trigger>.md-button .md-fab-toolbar-background {
    background-color: #fff;
}

*/

  /*Hover */

  /*NAV BAR REGULAR button hover 
  prm-topbar .md-button:focus, prm-topbar .md-button:hover {
      color: #fff !important;
      background-color: #C10000 !important;
      box-shadow: none;
  }

  */
  
/*
  
  prm-user-area .user-menu-button .user-name {
      text-transform: none;
      font-weight: 600;
      color: #ce3229;
      text-align: left;
      max-width: 150px;
  }
  
  */
  
  /*Hide Language Menu */	
prm-change-lang {
  display: none;
}

/*!!!!!!!  TOPBAR - USER AREA - HOVER COLOR !!!!!!!!*/
  md-fab-toolbar md-toolbar {
      background-color: #002F6D !important;
      pointer-events: none;
      z-index: 23;
  }
/*Top Bar- User Area - Button Link Color - On Hover */

/*Language Button hover 

prm-topbar .md-button {
  color: #ce3229 !important;
  text-transform: none;
  height: 100%;
  border-radius: 0;
  margin: 0;
}


prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy {
    color: #ce3229;
    height: 100%;
}

*/

/*User Area - Hover - Button  Color - My Library Card

prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]) {
    color: #ce3229;
}

prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]) {
      color: #ce3229;
  }
  
  */
/*User Area - Hover - Button on Hover Color - My Library Card

prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):hover, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):hover {
    background-color: #fff;
    color: #ce3229;
    box-shadow: none!important;
}

*/

/*Re-Order Buttons
#services-index button:nth-of-type(3) {
  order:-2;
}

*/

  /*--------Search Changes Color Changes-----------

/*search Options  BAckground 
  prm-search-bar .prm-top-bar-container .search-element .search-options {background-color:#a9cdd6;}
/*search Options Hover BAckground */
  prm-search-bar .prm-top-bar-container .search-element .search-options:hover {
      background-color: #fff;
      color: #0E69AA !important;
  }
  
  */
  
  */
/*Search Bar Container */
  md-toolbar.dark-toolbar, md-toolbar.md-primoExplore-theme.dark-toolbar, md-toolbar:not(.md-menu-toolbar).dark-toolbar {
      background-color: #0E69AA;
      color: #ce3229;
      border-top: 1px solid #cf0a2c;
  }
  
  .prm-primary-bg, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after
	{background-color: #0E69AA;}
	
	
/* CSS for HTML File */




